.navlist-item {
  background-color: palegoldenrod;
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid black;
}
ul .moving {
  background: transparent;
  color: transparent;
  border: 1px dashed #ccc;
}